.container{
    display:flex;
    flex-direction: column;
}
.quick{
    font-weight: bold;
    font-size: 1.5em;
    color:rgb(55, 126, 91);
}
@media only screen and (max-width:767px){/*mobile*/
        .img{
            height:150px;
            width:100%;
            object-fit: contain;
        }
}
@media only screen and (min-width: 768px){ /*desktop*/
    .img{
        margin: 7px;
        border-radius: 10px;
        float: left;
        max-width: 25%;
    }
}