* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* div>header {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 12px;
} */

.cDetails {
    margin: 5%;
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    margin-bottom: 10px;
}

.cDetails>input {
    width: 100%;
    display: flex;
    text-align: center;
    height: 35px;
    font-size: 14px;
    transition: all 0.3s ease;

    border-radius: 5px;
    border: 1px solid #b0b4be;
    border-bottom-width: 2px;

}

input:focus {
    box-shadow: 2px 3px black;

}

.pDetails input:focus,
.pDetails input:valid {
    border-color: black;
}

.radio>input {
    /**/
    /* display: none; */
    opacity: 0.01;
    z-index: 100;

}

.radgrp {
    display: flex;
    flex-wrap: wrap;
}

.radio>label {
    /**/
    margin: 10px;
    text-align: center;
    border-style: dashed;
    border-radius: 200%;
    padding: 20px;
    justify-content: center;
    background-color: rgba(73, 201, 147, 0.425);
}

input[type="radio"]:checked+label,
.Checked+label {
    background: rgb(58, 131, 100);
}


button {

    height: fit-content;
    font-size: 1.1em;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #27bb9b;
    margin: 10px;
    width: fit-content;
}

button:hover {
    border: 2px solid black;
    scale: 1.05;
    cursor: pointer;
    background-color: #1c816b;
}

@media only screen and (min-width:600px) {
    form {
        margin-left: 15%;
        margin-right: 15%;
    }

    .cDetails {
        width: calc(100% / 2 - 20px);
        margin: 20px 0 12px 0;
    }

    .details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* border: 1px solid red; */
        padding: 20px;
        width: 100%;
    }
}



/*popup*/
/*popup*/
/*popup*/
/*popup*/
/*popup*/
/*popup*/
/*popup*/
/*popup*/

.popup {
    width: 400px;
    /* height:400px; */
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    position: absolute;
    top: 0%;
    /**/
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    /**/
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

}

.popup>img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.popup>h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup>p {
    font-size: 20px;
}

.popup>button {
    width: 100%;
    border: none;
    scale: none;
    background-color: #6fd649;
    font-size: 22px;
    padding-right: 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

.popup>button:hover {
    /* border: 1px solid black; */
    scale: none;
    cursor: pointer;
    background-color: #54a039;

}

.popup-open {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

}

@media only screen and (max-width:599px) {
    .popup {
        margin: 0px;
        width: 90%;

        padding: 0 10px 10px;
        background: rgb(255, 255, 255);
    }

    .popup>img {
        width: 50px;
        border-radius: 50%;
        margin-top: -25px;

        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    }

    .popup>button {
        width: 100%;

        border: none;
        scale: none;
        background-color: #6fd649;
        font-size: 22px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

    }
}

#reset {
    display: none;
}