.donate:hover{
        transform: scale(1.05);
}
@media only screen and (min-width: 768px){ /*desktop*/
    .img2,.img3{
        border: 2px solid black;
        border-radius: 15px;
    }
    .img3,.img2{
        width:100%;
    }
    .purchase{
        display: flex;
        flex-direction: row;
    }
    .item{
        padding:30px;
        margin-right:20px;
    }
    .img2:hover,.img3:hover{
       transform:scale(1.1);
    }
    p{
        text-align: left;
    }
    .donate{
        width: 80%;
        margin:1em;
        border-radius:10px ;

    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}   
@media only screen and (max-width:767px){/*mobile*/
    .container{
        display: grid;
        grid-template-columns:1fr;
    }
    .donate{
        width:70%;
        border-radius:10px ;
        margin:1em;
    }
    body{
        text-align: center;
    }

    .img2,.img3{
        border: 2px solid black;
        border-radius: 15px;
    }
    .box1{
        padding:30px;
    }
    .img3,.img2{
        width:100%;
    }
    .purchase{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .item{
        padding:30px;
        margin-right:20px;
    }


    p{
        text-align: left;
    }
    .img2:hover,.img3:hover{
       transform:scale(1.05);
    }
}
