.container{
    margin:10px;
    padding: 30px;
    background-color: #04aa6db4;
    border-radius: 20px;
}
.container1{
    margin:10px;
    padding: 30px;
}
@media only screen and (min-width:768px){/*desktop*/
    section{
        display: flex;
        flex-direction: column;
    }
    .image{
        border-radius: 10px;
        margin: 5px;
    }
    .box0{
        max-width:20%;
        float:left;
     }
    .box1{
        max-width:40%;
        float:inline-end;
    }
    .images{
        border-radius: 5px;
        max-width: 8.5%;
        position: absolute;
        left: 50%;
    }
    .gmap{
        max-width:40%;
        height:150px;
        float:right;
        object-fit: contain;
    }
    .table {
        table-layout:fixed;
        width:100%;
        border-collapse:collapse;
    }
    .teaimg{
        max-width: 30%;
        object-fit: contain;
    }
    thead,tfoot {
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
    td,th{
        padding:15px;
        border: solid white;       
    }
    td:nth-child(even){
        background-color: rgba(145, 255, 218, 0.623);
    }
    td:nth-child(odd){
        background-color:rgba(102, 211, 175, 0.74);
    }
    section{
        margin-left: 10%;
        margin-right: 10%;
    }

}
@media only screen and (max-width:767px){/*mobile*/
    section{
        margin-top:20px;
        margin-bottom:20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .box0{
        width:50%;
        object-fit: contain;
    }
    .image,.gmap{
        width:100%;
        border-radius: 10px;
        margin:5px;
        object-fit: contain;
    }
    .gmap{
        height: 100px;
        object-fit: contain;
    }
    .images{
        display: none;
    }
    .teaimg{
        max-width:50%;
    }
    .table {
        width: 100%; 
        border-collapse:collapse;
    }
    thead,tfoot {
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
    td,th{
        padding:15px;
        border: solid white;       
    }
    table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 2px solid rgb(15, 92, 40); }
	
	td { 
		border: none;
		border-bottom: 2px solid rgb(63, 163, 63); 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 10px;
		left: 10px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	td:nth-of-type(1):before { content: "Plantation :"; }
	td:nth-of-type(2):before { content: "Type of Tea :"; }
	td:nth-of-type(3):before { content: "Image :"; }
	td:nth-of-type(4):before { content: "Exported to :"; }

}
