body{
    background-color: hsl(160, 75%, 78%);
}
.buy{
    width:50%;
    margin:10px;
}
.image{
    margin:20px;
    padding:40px;
    background-color: darkgray;
    border-radius: 20px;
    text-align: center;
}

@media only screen and (min-width: 768px){ /*desktop*/
    .tea{
        width:30%;
        border-radius: 10px;
    }
}
@media only screen and (max-width:767px){/*mobile*/
        .conatainer{
            display: grid;
            grid-template-columns: 1fr;
        }
        .tea{
            width:60%;
        }
}